.btn.placeOrder {
  background: #75da6d;
  width: 100%;
  font-weight: bold;
  position: relative;
  top: 40px;
  text-align: center;
  transition: transform 0.2s;
}

.btn.placeOrder:hover {
  background-color: #f04b4b;
  color: white;
  transform: scale(1.05);
}
